dist
dist-*
cabal-dev
cabal.sandbox.config
cabal.project.local
cabal.project.local~
hie.yaml
result
result-*
dist-newstyle
tags
.tags
_cache/
_site/
files/*
*.cabal
.direnv/
.envrc
.jj/
.serena/
.pre-commit-config.yaml
